body {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: screen;
  background-color: black;
  color: white;
}

.text {
  font-family: arial;
  text-align: center;
  font-size: 50px;
}
